</body>
<script src="/lib/jquery/dist/jquery.min.js?version=1.0"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js?version=1.0"></script>
<script>
    setTimeout(function () {
     $('.w').fadeOut();
 },2000)
    $("#reset").click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        $('#search').val('');
    })
</script>

</html>